@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:wght@100;900 & display=swap');
:root{

    --cor_b:#101010;
    --cor_c:#303030;
    --cor_c1:#747474;
    --cor_g:#ccff33 ;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: var(--cor_b);
    color: var(--cor_g);
    display: flex;

}
main,section{
    height: 100vh;
}
main{
    display: flex;
    flex-direction: column;
    background-color: var(--cor_c);
    width: 300px;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
   

}
main img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
}
main div span{
    font-size: 25px;
    text-align: center;
    color: var(--cor_c1);
}
main .media{
    margin-top: auto; 
    display: flex;  
}
main .media a img{
    display: flex;
    border-radius: 0;
    width: 50px;
    height: 50px;    
    justify-content: end;
}
section{
    background-color: var(--cor_b);
    width: 100%;
    
}
@media only screen AND (max-width: 1065px){
    main img{
        width: 150px;
        height: 150px;
    }
    main{
        width: 300px;
    }
    main .media a img{
        margin: 5px;        
    }
    main div span{
        font-size: 20px;
    }
}
@media only screen AND (max-width: 517px){
    main img{
        width: 130px;
        height: 130px;
    }
    main{
        width: 300px;
    }
    main .media a img{
        margin: 5px;
        width: 40px;
        height: 40px;
    }
    main div span{
        font-size: 16px;
    }
}